* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: black url(../imgs/background.jpg) no-repeat fixed center center/cover;
  min-height: 100vh;
  -webkit-user-select: none;
  user-select: none;
}

.header {
  width: 100%;
  height: 60px;
  color: white;
  background-color: yellow;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.header h1 {
  font-size: 3em;
}

.container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  min-height: 100vh;
  gap: 10px;
}
.container .item {
  padding: 10px;
  min-width: 500px;
  background-color: rgba(0, 0, 0, 0.247);
  border-radius: 10px;
}
.container .user-input, .container .pw-input {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .user-input input, .container .pw-input input {
  width: 300px;
  height: 50px;
  padding: 5px;
  border: 2px solid #5f70c1;
  caret-color: #5f70c1;
  font-weight: bold;
  font-size: 20px;
}
.container .user-input input::placeholder, .container .pw-input input::placeholder {
  color: #5f70c1;
  font-weight: bold;
  text-align: right;
  padding: 10px;
}
.container .user-input input:focus, .container .pw-input input:focus {
  background-color: #272e5f;
  border: 2px solid #5f70c1;
  color: #56a232;
}
.container .user-input input:focus::placeholder, .container .pw-input input:focus::placeholder {
  color: white;
}
.container .user-input input:hover, .container .pw-input input:hover {
  border: 2px solid #5f70c1;
}
.container .terms {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.container .terms label, .container .terms label a {
  color: white;
  padding: 10px;
  font-size: 20px;
}
.container .terms label a {
  padding: 0;
  text-decoration: none;
  border-bottom: 1px solid white;
}
.container .terms label a:hover {
  color: #5f70c1;
  border-bottom: 1px solid #5f70c1;
}
.container .btn, .container .btn button {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.container .btn button {
  cursor: pointer;
  color: #5f70c1;
  font-size: 1em;
  width: 190px;
  height: 30px;
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 20px;
}
.container .btn button:hover {
  background-color: #5f70c1;
  color: white;
}

@media (max-width: 520px) {
  .container .item {
    min-width: 90vw;
  }
}
@media (max-width: 415px) {
  .container .item {
    background-color: transparent;
  }
  .terms label, .container .terms label a {
    font-size: 0.8em;
    text-align: center;
  }
}
@media (max-width: 380px) {
  .container .item img {
    display: none;
  }
  .container .user-input input, .container .pw-input input {
    width: 80vw;
    position: relative;
    font-size: 1em;
  }
  .container .terms label, .container .terms label a {
    font-size: 1em;
    text-align: center;
  }
  .container .btn button {
    width: 150px;
  }
}
@media (max-width: 323px) {
  .terms label, .container .terms label a {
    font-size: 0.9em;
    text-align: center;
  }
}
@media (max-width: 308px) {
  .terms label, .container .terms label a {
    font-size: 0.7em;
    text-align: center;
  }
}
@media (max-width: 288px) {
  .terms label, .container .terms label a {
    font-size: 0.7em;
    text-align: center;
  }
  .terms a {
    font-size: 0.7em;
  }
}

/*# sourceMappingURL=style.css.map */
